<div class="container text-center">
    <div class="card m-5 p-5 shadow">
        <div class="row">
            <div class="col-sm-12 col-md-3 col-lg-3">
                <img src="../../assets/img/Gnani-Purush-Part-2.jpg" alt="" class="img-fluid">
            </div>
            <div class="col-sm-12 col-md-8 col-lg-9">
                <h2 class="font-weight-bolder">For Gujarati Mahatmas</h2>
                <h4>Gnani Purush Part-2</h4>
                <br><br><br>
                <p>Download the online book from below...</p>
                <a class="btn btn-primary" href="https://satsang.dadabhagwan.org/books/" target="_blank">Download Now &nbsp;<i class="fas fa-download"></i></a>
            </div>
        </div>
    </div>
    <div class="card m-5 p-5 shadow">
        <div class="row">
            <div class="col-sm-12 col-md-3 col-lg-3">
                <img src="../../assets/img/shri-simandharswami.jpg" alt="" class="img-fluid p-1">
            </div>
            <div class="col-sm-12 col-md-3 col-lg-3">
                <img src="../../assets/img/Gyani-Purush-Bhaag-1_hindi.jpg" alt="" class="img-fluid p-1">
            </div>
            <div class="col-sm-12 col-md-6 col-lg-6">
                <h2 class="font-weight-bolder">For Hindi Mahatmas</h2>
                <h4>Simandhar Swami</h4>
                <h4>Gnani Purush</h4>
                <br><br><br>
                <p>Download the online book from below...</p>
                <a class="btn btn-primary" href="https://satsang.dadabhagwan.org/books/" target="_blank">Download Now &nbsp;<i class="fas fa-download"></i></a>
            </div>
        </div>
    </div>
    <div class="card m-5 p-5 shadow">
        <div class="row">
            <div class="col-sm-12 col-md-3 col-lg-3">
                <img src="../../assets/img/simandhar-swami-english.jpg" alt="" class="img-fluid p-1">
            </div>
            <div class="col-sm-12 col-md-3 col-lg-3">
                <img src="../../assets/img/gnani-purush.jpg" alt="" class="img-fluid p-1">
            </div>
            <div class="col-sm-12 col-md-6 col-lg-6">
                <h2 class="font-weight-bolder">For English Mahatmas</h2>
                <h4>Simandhar Swami</h4>
                <h4>Gnani Purush</h4>
                <br><br><br>
                <p>Download the online book from below...</p>
                <a class="btn btn-primary" href="https://satsang.dadabhagwan.org/books/" target="_blank">Download Now &nbsp;<i class="fas fa-download"></i></a>
            </div>
        </div>
    </div>
    <div class="card m-5 p-5 shadow">
        <div class="row">
            <div class="col-sm-12 col-md-3 col-lg-3">
                <img src="../../assets/img/Der-gegenwärtig-lebende-Tirthankara-Shri-Simandhar-Swam.jpg" alt="" class="img-fluid p-1">
            </div>
            <div class="col-sm-12 col-md-3 col-lg-3">
                <img src="../../assets/img/Die-makellose-Sicht.jpg" alt="" class="img-fluid p-1">
            </div>
            <div class="col-sm-12 col-md-6 col-lg-6">
                <h2 class="font-weight-bolder">For German Mahatmas</h2>
                <h4>Simandhar Swami</h4>
                <h4>Flawless Vision</h4>
                <br><br><br>
                <p>Download the online book from below...</p>
                <a class="btn btn-primary" href="https://satsang.dadabhagwan.org/books/" target="_blank">Download Now &nbsp;<i class="fas fa-download"></i></a>
            </div>
        </div>
    </div>
    <div class="card m-5 p-5 shadow">
        <div class="row">
            <div class="col-sm-12 col-md-3 col-lg-3">
                <img src="../../assets/img/Simandharswami_book.jpg" alt="" class="img-fluid p-1">
            </div>
            <div class="col-sm-12 col-md-3 col-lg-3">
                <img src="../../assets/img/The-Flawless-Vision.jpg" alt="" class="img-fluid p-1">
            </div>
            <div class="col-sm-12 col-md-6 col-lg-6">
                <h2 class="font-weight-bolder">For Spanish Mahatmas</h2>
                <h4>Simandhar Swami</h4>
                <h4>Flawless Vision</h4>
                <br><br><br>
                <p>Download the online book from below...</p>
                <a class="btn btn-primary" href="https://satsang.dadabhagwan.org/books/" target="_blank">Download Now &nbsp;<i class="fas fa-download"></i></a>
            </div>
        </div>
    </div>
    <div class="card m-5 p-5 shadow">
        <div class="row">
            <div class="col-sm-12 col-md-3 col-lg-3">
                <img src="../../assets/img/Shri-Simandhar-Swami.jpg" alt="" class="img-fluid p-1">
            </div>
            <div class="col-sm-12 col-md-3 col-lg-3">
                <img src="../../assets/img/A-Visão-Impecável.jpg" alt="" class="img-fluid p-1">
            </div>
            <div class="col-sm-12 col-md-6 col-lg-6">
                <h2 class="font-weight-bolder">For Portugese Mahatmas</h2>
                <h4>Simandhar Swami</h4>
                <h4>Flawless Vision</h4>
                <br><br><br>
                <p>Download the online book from below...</p>
                <a class="btn btn-primary" href="https://satsang.dadabhagwan.org/books/" target="_blank">Download Now &nbsp;<i class="fas fa-download"></i></a>
            </div>
        </div>
    </div>
</div>
